.body {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  height: 100vh;
  background-color: black;
}

.hidden {
  position: relative;
  padding: 20px;
  overflow: hidden;
  opacity: 0;
  color: white;
  transition: opacity ease-in-out 1s;
}

.in-view {
  opacity: 1; 
}

.card {
  
  background: none;
  border: 3px solid #fff;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
  height: 10vh;
  flex: 1;
  transition: all 0.5s ease-out;
  color: #fdfdfd;
  
  &:hover {
    height: 40vh;

    p {
      opacity: 1;
      height: auto;
      overflow: visible;
    }
  }

  &1::before,
  &2::before,
  &3::before {
    transform: scaleY(0);
  }

  &1:hover::before,
  &2:hover::before,
  &3:hover::before {
    transform: scaleY(1);
  }
  
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: -1;
    transition: transform 1s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 1);
  }

  &__container {
    display: flex;
    margin: 4rem auto;
    gap: 2rem;
    width: 75vw;
  }

  h3 {
    font-size: 2rem;
    text-align:center;
    font-weight: 700;
    text-transform: uppercase;
    margin-block: 0.5rem;
  }

  p {
    font-family: 'Ruwudu', serif;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
  }
}


#title {
  font-family: "Lora", sans-serif;
  font-size: 5rem;
  font-weight: 800;
  position: absolute;
  top: 30vh;
  left: 10vh;
  width: 48rem;
}
#title::first-letter {
  color: rgb(42, 86, 182); /* Color for the first letter */
}

.about-container {
  position: relative;
  height: 100vh;
}

#links {
  position: absolute;
  right: 0;
  width: 50vh;
  display: flex;
  padding-block: 5rem;
  justify-content: space-around;
  z-index: 1;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

#header {
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(103, 0, 94, 0.5),);
  height: 120vh;
}

#section-1 {
  background: linear-gradient(to bottom, rgba(103, 0, 94, 0.5), rgba(4, 75, 17, 0.5),);
  height: 100vh;
}

#section-2 {
  background: linear-gradient(to bottom, rgba(4, 75, 17, 0.5), rgba(0, 102, 109, 0.5));
  height: 100vh;
}

#section-3 {
  background: linear-gradient(to bottom, rgba(0, 102, 109, 0.5), rgba(0, 0, 0, 0));
  height: 100vh;
}
