<div class="body">
  <div id="header">
    <div class="hidden" id="links">
      <a href="#section-1">My Journey</a>
      <a href="#section-2">Projects</a>
      <a href="#section-3">Prospects</a>
    </div>
    <div class="about-container">
      <h2 class="hidden" id="title">Frontend Software Developer</h2>
    </div>
  </div>
  <div id="section-1">
    <div class="card__container">
      <div class="hidden card card1">
        <h3>Starting Blocks</h3>
        <p>{{ projectOneBlurb }}</p>
      </div>
      <div class="hidden card card2">
        <h3>Current Pathway</h3>
        <p>{{ projectTwoBlurb }}</p>
      </div>
      <div class="hidden card card3">
        <h3>Hopeful Pastures</h3>
        <p>{{ projectThreeBlurb }}</p>
      </div>
    </div>
  </div>
  <div id="section-2">
    <div class="card__container">
      <div class="hidden card card1">
        <h3>Project 1</h3>
        <p>{{ projectOneBlurb }}</p>
      </div>
      <div class="hidden card card2">
        <h3>Project 2</h3>
        <p>{{ projectTwoBlurb }}</p>
      </div>
      <div class="hidden card card3">
        <h3>Project 3</h3>
        <p>{{ projectThreeBlurb }}</p>
      </div>
    </div>
  </div>
  <div id="section-3">
    <div class="card__container">
      <div class="hidden card card1">
        <h3>Project 1</h3>
        <p>{{ projectOneBlurb }}</p>
      </div>
      <div class="hidden card card2">
        <h3>Project 2</h3>
        <p>{{ projectTwoBlurb }}</p>
      </div>
      <div class="hidden card card3">
        <h3>Project 3</h3>
        <p>{{ projectThreeBlurb }}</p>
      </div>
    </div>
  </div>
</div>
