<div class="body">
  <div id="header">
    <div class="links">
      <a href="#header">Home</a>
      <a href="#section-1">About</a>
      <a href="#section-2">Projects</a>
      <a href="#section-3">Career</a>
    </div>
  </div>
  <div id="section-1" >
    <p class="hidden">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quod modi
      accusantium vitae esse, explicabo distinctio labore rerum excepturi
      blanditiis tenetur atque optio molestias iusto quae consequatur
      voluptates! Voluptate, cumque?
    </p>
  </div>
  <div id="section-2">
  </div>
  <div id="section-3">
  </div>
</div>
